.button {
    font-family: 'Merienda One', cursive;
    background-color: rgb(201, 150, 150);
    padding: 10px 25px;
    border: none;
    color: white;
    cursor: pointer;
    margin: 5px;
    font-size: 24px;
    border-radius: 12px;
    height: auto;
    width: auto;
}

.column {
    float: center;
    width: 49%;
    background-color: rgb(201, 150, 150);
    border: none;
    color: white;
    padding: 20px;
    transition: all 0.5s;
    margin: 1px;
    border-radius: 12px;
}

.column span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.5s;
}

.column:hover span {
    padding-right: 25px;
    border-color: white;
}

.column:hover span:after {
    opacity: 1;
    right: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.profilePic {
    height: 100px;
    width: 100px;
}

.column-pic-1 {
    padding-left: 10px;
    padding-top: 25px;
}

.btn-del {
    height: 15px;
    width: 15px;
    color: white;
    float: right;
    margin-top: -15px;
    font-size: 25px;
}

.btn-del:hover {
    color: darkgrey;
}

.user-creditnails {
    color: rgba(0, 0, 0, 0.555);
}

.user-creditnails:hover {
    color: rgba(0, 0, 0, 0.555);
}

input[type=text] {
    border-radius: 12px;
}

.modal-content {
    border-radius: 12px;
}