.btn {
    background-color: rgb(201, 150, 150);
    border: none;
    color: white;
    cursor: pointer;
    margin: 1px;
    font-size: 18px;
    border-radius: 12px !important;
}

#meter_wrapper {
    border: 1px solid grey;
    margin-left: 38%;
    margin-top: 20px;
    width: 200px;
    height: 35px;
    border-radius: 3px;
}

#meter {
    width: 0px;
    height: 35px;
}

.nav-link {
    font-family: 'Merienda One', cursive;
}

input[type=text] {
    border-radius: 12px;
}

input[type=email] {
    border-radius: 12px;
}

input[type=password] {
    border-radius: 12px;
}

.custom-select {
    border-radius: 12px;
}